spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    com.mycompany: DEBUG
    org.springframework.web: DEBUG

